Repository MrMelbert/MapleStationCode, pull requests merged in 2021-11, with the labels that each got.

#105 Adds in new Mutation Toxins
  jollystation.dme
  jollystation_modules/code/modules/reagents/chemistry/reagents/mutation_reagents.dm
  jollystation_modules/code/modules/reagents/chemistry/recipes/mutation_recipes.dm
Labels: Feature

#108 Fixes languages, again, maybe
  jollystation_modules/code/modules/client/preferences/languages.dm
Labels: Fix

#107 [MDB IGNORE] Lima 2: Lower Hallway Edition (+asset protection stuff, general maintenance glamor-up)
  _maps/map_files/LimaStation/LimaStation.dmm
  jollystation_modules/code/game/area/space_station_13_areas.dm
Labels: Lima Station

#111 Re-pr of Solar Flare event
  jollystation.dme
  jollystation_modules/code/modules/events/solar_flare.dm
Labels: Feature

#112 [modular] adds (optional) fox tails to felinids
  jollystation.dme
  jollystation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/felinid.dm
  jollystation_modules/code/modules/surgery/organs/tails.dm
  jollystation_modules/icons/mob/mutant_bodyparts.dmi
Labels: Feature, First Timer

#115 [modular] makes it so that unimportant items are deleted upon cryoing
  jollystation.dme
  jollystation_modules/code/game/machinery/cryopod.dm
Labels: Adjustment

#110 Adds in pilk and peg nog.
  jollystation_modules/code/datums/mood_events/reagent_mood_events.dm
  jollystation_modules/code/modules/food_and_drinks/recipes/drinks_recipes.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  jollystation_modules/icons/obj/drinks.dmi
Labels: Feature, What the Fuck

#113 [modular] adds a fox tail organ sprite, adds fox tails to limbgrowers
  jollystation.dme
  jollystation_modules/code/modules/research/designs/limbgrower_designs.dm
  jollystation_modules/code/modules/surgery/organs/tails.dm
  jollystation_modules/icons/obj/surgery.dmi
Labels: Feature, What the Fuck

#118 Makes small additions to research nodes easier to see
  jollystation.dme
  jollystation_modules/code/modules/research/techweb/_research.dm
  jollystation_modules/code/modules/research/techweb/all_nodes.dm
Labels: Maintenance

#104 Small nerfs
  jollystation.dme
  jollystation_modules/code/game/objects/items/storage/storage.dm
  jollystation_modules/code/modules/clothing/spacesuits/hardsuit.dm
  jollystation_modules/code/modules/mob/living/simple_animal/corpse.dm
Labels: Adjustment

#114 Adds Item Dispensers
  goon/icons/obj/itemdispenser.dmi
  jollystation.dme
  jollystation_modules/code/game/objects/structures/item_dispensers.dm
  jollystation_modules/code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#119 Hotfix for CI
  jollystation_modules/code/modules/clothing/spacesuits/hardsuit.dm
Labels: Maintenance

#116 The worlds smallest fix: Cats now speak cat
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Fix

#120 Cherry-picks strings fix to make master not fail
  code/__HELPERS/_string_lists.dm
  code/__HELPERS/files.dm
Labels: Maintenance

#122 [MDB IGNORE] Fixes some Lima issues
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Fix
