Repository MrMelbert/MapleStationCode, pull requests merged in 2021-08, with the labels that each got.

#48 Fax machine and Paperwork job/minigame/bounty
  jollystation.dme
  jollystation_modules/code/__DEFINES/paperwork_defines.dm
  jollystation_modules/code/__HELPERS/text_helpers.dm
  jollystation_modules/code/controllers/subsystem/economy.dm
  jollystation_modules/code/datums/pain.dm
  jollystation_modules/code/game/machinery/fax_machine.dm
  jollystation_modules/icons/obj/machines/cryogenics.dmi
  jollystation_modules/icons/obj/machines/fax.dmi
  strings/paperwork.json
  tgui/packages/tgui/interfaces/_FaxMachine.js
Labels: Base Pilled, Feature Request

#58 Pubby Standardization
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map

#61 Fixes some misspellings
  jollystation_modules/code/datums/pain.dm
  jollystation_modules/code/datums/quirks/good.dm
  jollystation_modules/code/datums/quirks/negative.dm
  jollystation_modules/code/game/machinery/fax_machine.dm
  jollystation_modules/code/modules/antagonists/_common/advanced_antag.dm
  jollystation_modules/code/modules/antagonists/_common/antag_datum.dm
  jollystation_modules/code/modules/antagonists/advanced_heretic/advanced_heretic.dm
  jollystation_modules/code/modules/library/skill_learning/job_skillchips/mining.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/species.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_bodyparts.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_causes.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_reagents.dm
Labels: Maintenance

#65 King Dufresne
  jollystation.dme
  jollystation_modules/code/game/objects/unique_examine_items.dm
  jollystation_modules/code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Feature

#59 Rim-Chems: A suite of Chems, Addictions, and Cargo Packs inspired by Rimworld
  code/__DEFINES/reagents.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/datums/diseases/disease_resistance.dm
  jollystation_modules/code/datums/mood_events/reagent_mood_events.dm
  jollystation_modules/code/datums/pain/pain.dm
  jollystation_modules/code/datums/pain/pain_helpers.dm
  jollystation_modules/code/modules/cargo/packs.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_implements.dm
  jollystation_modules/code/modules/movespeed/modifiers/reagent.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/pain_reagents.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/rim_reagents.dm
  jollystation_modules/code/modules/reagents/chemistry/withdrawal/go_juice_addiction.dm
  jollystation_modules/code/modules/reagents/chemistry/withdrawal/luciferium_addiction.dm
  jollystation_modules/code/modules/reagents/chemistry/withdrawal/psychite_addiction.dm
Labels: Feature

#69 [DNM] Lima II: Multi-Z Maintenance Shenanigans Turbo Championship Edition
  _maps/limastation.json
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Map, Lima Station

#68 Adds a few loadout items
  jollystation_modules/code/modules/client/loadout_items.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_pocket_items.dm
  jollystation_modules/code/modules/clothing/head/loadout_helmet.dm
  jollystation_modules/code/modules/clothing/shoes/loadout_shoes.dm
  jollystation_modules/code/modules/clothing/suits/loadout_suits.dm
  jollystation_modules/code/modules/clothing/under/loadout_under.dm
Labels: Adjustment

#74 Sloppily re-applies some of the undone fixes / changes to Lima pre-multi z
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Lima Station

#73 JollyStation Job Expansion Part 1
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/datums/id_trim/jobs.dm
  code/modules/clothing/under/_under.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/jobs.dm
  jollystation_modules/code/datums/id_trim/jobs.dm
  jollystation_modules/code/game/area/space_station_13_areas.dm
  jollystation_modules/code/game/objects/effects/landmarks.dm
  jollystation_modules/code/game/objects/items/devices/PDA/PDA_types.dm
  jollystation_modules/code/game/objects/items/devices/radio/encryptionkey.dm
  jollystation_modules/code/game/objects/items/devices/radio/headset.dm
  jollystation_modules/code/game/objects/items/locker_spawners.dm
  jollystation_modules/code/game/objects/items/storage/boxes.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/asset_protection.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  jollystation_modules/code/modules/clothing/head/jobs.dm
  jollystation_modules/code/modules/clothing/suits/armor.dm
  jollystation_modules/code/modules/clothing/under/accessories.dm
  jollystation_modules/code/modules/clothing/under/jobs/security.dm
  jollystation_modules/code/modules/jobs/access.dm
  jollystation_modules/code/modules/jobs/job_types/asset_protection.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/icons/mob/clothing/accessories.dmi
  jollystation_modules/icons/mob/clothing/head.dmi
  jollystation_modules/icons/mob/hud.dmi
  jollystation_modules/icons/mob/landmarks.dmi
  jollystation_modules/icons/obj/card.dmi
  jollystation_modules/icons/obj/clothing/accessories.dmi
  jollystation_modules/icons/obj/clothing/hats.dmi
  jollystation_modules/icons/obj/locker.dmi
  jollystation_modules/icons/turf/areas.dmi
Labels: Adjustment, Project Request

#72 Pain Code Optimizations / Fixes
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/datums/pain/pain.dm
  jollystation_modules/code/datums/pain/pain_helpers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_bodyparts.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_causes.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_modifiers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_shock.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_status_effects.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/pain_reagents.dm
Labels: Maintenance

#75 Luciferium must be ingested, is (relatively) less addictive
  jollystation_modules/code/modules/reagents/chemistry/reagents/rim_reagents.dm
Labels: Tweak

#79 Updates Advanced Antag Panel / Pixel Shift Panel to more modern standards / fresher style
  jollystation_modules/code/modules/antagonists/_common/advanced_traitor_panel.dm
  tgui/packages/tgui/interfaces/_AdvancedHereticPanel.js
  tgui/packages/tgui/interfaces/_AdvancedTraitorPanel.js
  tgui/packages/tgui/interfaces/_AdvancedTraitorParts.js
  tgui/packages/tgui/interfaces/_PixelShift.js
Labels: Adjustment, Maintenance

#82 critical lima fix
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Fix, Lima Station

#78 Subject myself to immense pain for minor gain: Converts loadout lists to loadout datums, lets you rename loadout items.
  code/__HELPERS/icons.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/new_player/new_player.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/__DEFINES/jobs.dm
  jollystation_modules/code/game/objects/items/devices/radio/headset.dm
  jollystation_modules/code/game/objects/items/other_loadout_items/loadout_inhand_items.dm
  jollystation_modules/code/game/objects/items/other_loadout_items/loadout_pocket_items.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/asset_protection.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  jollystation_modules/code/modules/client/loadout_items.dm
  jollystation_modules/code/modules/client/loadout_manager.dm
  jollystation_modules/code/modules/client/loadout_outfit_helpers.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/clothing/_greyscale_configs/formal_parade.json
  jollystation_modules/code/modules/clothing/_greyscale_configs/formal_parade_open.json
  jollystation_modules/code/modules/clothing/_greyscale_configs/suit_greyscale_configs.dm
  jollystation_modules/code/modules/clothing/accessories/accessories.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_accessories.dm
  jollystation_modules/code/modules/clothing/head/jobs.dm
  jollystation_modules/code/modules/clothing/suits/armor.dm
  jollystation_modules/code/modules/clothing/under/jobs/security.dm
  jollystation_modules/code/modules/jobs/job_types/asset_protection.dm
  jollystation_modules/code/modules/loadouts/loadout_items/_loadout_datum.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_belts.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_ears.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_masks.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_neck.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_suits.dm
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  jollystation_modules/code/modules/loadouts/loadout_ui/loadout_manager.dm
  jollystation_modules/code/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  jollystation_modules/icons/mob/clothing/accessories.dmi
  jollystation_modules/icons/mob/clothing/suit.dmi
  jollystation_modules/icons/obj/clothing/suit.dmi
  tgui/packages/tgui/interfaces/_LoadoutManager.js
Labels: Adjustment, Feature, Maintenance

#85 Nerfs some of the crates from resource drift / resource pods and gives the code some stylistic / code improvements
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/controllers/subsystem/economy.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/crates.dm
  jollystation_modules/code/modules/events/resource_drift.dm
  jollystation_modules/code/modules/events/resource_pods.dm
  strings/companies.json
  strings/paperwork.json
  strings/resource_events.json
Labels: Adjustment, Maintenance
