Repository MrMelbert/MapleStationCode, pull requests merged in 2021-07, with the labels that each got.

#23 Pain fixes, stage one: Shock begone
  jollystation_modules/code/datums/pain.dm
  jollystation_modules/code/datums/quirks/_quirk_blacklist.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_bodyparts.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_effects.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_shock.dm
Labels: Adjustment, Fix

#24 Minor Lima updates post-merge
  _maps/map_files/LimaStation/LimaStation.dmm
  jollystation_modules/code/game/area/space_station_13_areas.dm
Labels: Lima Station, Map

#26 Tweaks, updates and fixes
  .github/PULL_REQUEST_TEMPLATE.md
  code/__DEFINES/mobs.dm
  code/game/world.dm
  config/dynamic.json
  config/game_options.txt
  config/lavaruinblacklist.txt
  config/spaceruinblacklist.txt
  jollystation_modules/README.md
Labels: Fix, Maintenance

#28 Fixes an examine runtime
  jollystation_modules/code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#32 Fixes "Test Quirk" showing up in quirk menu
  jollystation_modules/code/datums/quirks/negative.dm
Labels: Fix

#29 Pain expansion part two
  code/modules/mob/living/carbon/human/human_update_icons.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/pain_defines.dm
  jollystation_modules/code/__DEFINES/spans.dm
  jollystation_modules/code/datums/components/make_item_slow.dm
  jollystation_modules/code/datums/elements/temperature_pack.dm
  jollystation_modules/code/datums/pain.dm
  jollystation_modules/code/datums/pain_helpers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_causes.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_effects.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_implements.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_modifiers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_reagents.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_status_effects.dm
  jollystation_modules/icons/mob/inhands/pain_items_lhand.dmi
  jollystation_modules/icons/mob/inhands/pain_items_rhand.dmi
  jollystation_modules/icons/mob/pain_items.dmi
  jollystation_modules/icons/obj/pain_items.dmi
  jollystation_modules/icons/obj/syringe.dmi
Labels: Adjustment, Feature, Fix, Sprites

#35 Sign languag-ers no longer make speech sounds
  jollystation_modules/code/modules/mob/living/living.dm
Labels: Fix

#34 Heretic Sacrifice Post-Pain Touch Up
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  jollystation_modules/code/modules/antagonists/advanced_heretic/eldritch_knowledge.dm
Labels: Adjustment

#33 Adds in Reploids, fixes skrell code.
  code/__DEFINES/is_helpers.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  config/game_options.txt
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/DNA.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/reploid.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skrell.dm
  jollystation_modules/icons/mob/human_parts_greyscale_js.dmi
Labels: Feature, Fix

#36 Fixes missing used painkiller medpen icon
  jollystation_modules/icons/obj/syringe.dmi
Labels: Fix, Sprites

#40 Fixes Skrell again, ports their head tentacles to the new external organ feature, documents their files better
  code/__DEFINES/DNA.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/datums/dna.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/datums/quirks/_quirk_blacklist.dm
  jollystation_modules/code/datums/quirks/good.dm
  jollystation_modules/code/datums/quirks/negative.dm
  jollystation_modules/code/datums/quirks/neutral.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/mob/living/carbon/human/skrell_hair.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skrell.dm
  jollystation_modules/code/modules/skrell/flavor_misc_js.dm
  jollystation_modules/icons/mob/skrell_hair.dmi
Labels: Adjustment, Fix, Maintenance

#31 Flavor Text Refactor
  code/modules/mob/dead/new_player/new_player.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/examine_defines.dm
  jollystation_modules/code/modules/mob/living/carbon/human/examine.dm
  jollystation_modules/code/modules/mob/living/carbon/human/flavor_text.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Adjustment

#45 Painkillers: Miner pen buff, emergency kit pen perf
  jollystation_modules/code/modules/mob/living/carbon/pain_implements.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_reagents.dm
Labels: Adjustment

#46 Optimizes loadout icon generation (for less lag)
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  jollystation_modules/README.md
  jollystation_modules/code/modules/antagonists/_common/advanced_antag.dm
  jollystation_modules/code/modules/client/loadout_manager.dm
  jollystation_modules/code/modules/client/loadout_outfit_helpers.dm
Labels: Maintenance

#47 Rebalances the infiltrator uplink slightly
  jollystation_modules/code/modules/uplink/uplink_infiltrator.dm
Labels: Adjustment

#49 Adds in Green Tea and 2 "descendant" drinks.
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/modules/food_and_drinks/recipes/drinks_recipes.dm
  jollystation_modules/code/modules/movespeed/modifiers/reagent.dm
  jollystation_modules/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  jollystation_modules/icons/obj/drinks.dmi
Labels: Feature, Sprites

#53 Changes some of the UI buttons
  .github/CODEOWNERS
  config/config.txt
  interface/interface.dm
  interface/skin.dmf
  jollystation_modules/README.md
Labels: Adjustment

#52 Adds in cybernetic cat ears.
  jollystation.dme
  jollystation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  jollystation_modules/code/modules/research/designs/medical_designs.dm
  jollystation_modules/code/modules/research/techweb/all_nodes.dm
  jollystation_modules/code/modules/surgery/organs/ears.dm
  jollystation_modules/icons/mob/mutant_bodyparts.dmi
  jollystation_modules/icons/obj/clothing/hats.dmi
Labels: Feature, Sprites

#54 Flight potion causes pain
  jollystation_modules/code/modules/mob/living/carbon/pain_causes.dm
Labels: Adjustment

#55 PUBBY STATION: THE JOLLYSTATION RETURN
  .github/CODEOWNERS
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/pubbystation.json
  config/maps.txt
  jollystation_modules/code/game/objects/structures/static_plaques.dm
Labels: Map

#56 Adds ERP zone to Lima's science department.
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Adjustment, Map
