Repository MrMelbert/MapleStationCode, pull requests merged in 2021-06, with the labels that each got.

#1 Updates codeowners
  .github/CODEOWNERS
Labels: Maintenance

#2 More fixes for Lima map + Bridge Officer locker / logic
  _maps/map_files/LimaStation/LimaStation.dmm
  jollystation.dme
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/crates.dm
  jollystation_modules/code/game/objects/structures/static_plaques.dm
  jollystation_modules/code/modules/clothing/suits/armor.dm
  jollystation_modules/code/modules/clothing/under/jobs/security.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
Labels: Adjustment, Map

#6 Untaints the CI checks(?)
  tgui/bin/tgui
  tools/bootstrap/node
  tools/bootstrap/python
  tools/build/build
  tools/deploy.sh
Labels: Maintenance

#3 Loadout fixes lost in the repo move
  code/datums/greyscale/json_configs/plushie_lizard.json
  code/game/objects/items/plushes.dm
  jollystation_modules/README.md
  jollystation_modules/code/modules/client/loadout_manager.dm
  tgui/packages/tgui/index.js
Labels: Fix

#4 Replaces a bunch of spans with span macros, also messes with flavor a bit
  jollystation.dme
  jollystation_modules/code/__DEFINES/examine_defines.dm
  jollystation_modules/code/__DEFINES/spans.dm
  jollystation_modules/code/datums/elements/unique_examine.dm
  jollystation_modules/code/datums/quirks/good.dm
  jollystation_modules/code/modules/antagonists/_common/advanced_antag.dm
  jollystation_modules/code/modules/antagonists/_common/advanced_objective.dm
  jollystation_modules/code/modules/antagonists/advanced_heretic/advanced_heretic.dm
  jollystation_modules/code/modules/antagonists/advanced_heretic/eldritch_knowledge.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_traitor.dm
  jollystation_modules/code/modules/antagonists/infiltrator/advanced_infiltrator.dm
  jollystation_modules/code/modules/antagonists/infiltrator/infiltrator.dm
  jollystation_modules/code/modules/client/verbs/looc.dm
  jollystation_modules/code/modules/mob/living/carbon/human/examine.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human_helpers.dm
  jollystation_modules/code/modules/mob/pixel_shift.dm
  jollystation_modules/code/modules/uplink/uplink_devices.dm
Labels: Adjustment

#8 More Lima Fixes
  _maps/map_files/LimaStation/LimaStation.dmm
  code/datums/shuttles.dm
  code/modules/vending/megaseed.dm
  jollystation.dme
  jollystation_modules/code/datums/shuttles.dm
  jollystation_modules/code/modules/hydroponics/grown/beans.dm
Labels: Map

#5 Updating some things
  code/datums/id_trim/jobs.dm
  jollystation.dme
  jollystation_modules/code/game/area/space_station_13_areas.dm
  jollystation_modules/code/game/objects/effects/landmarks.dm
  jollystation_modules/code/game/objects/items/card_ids.dm
  jollystation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/felinid.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  jollystation_modules/icons/mob/hud.dmi
  jollystation_modules/icons/mob/landmarks.dmi
  jollystation_modules/icons/obj/card.dmi
  jollystation_modules/icons/obj/locker.dmi
  jollystation_modules/icons/turf/areas.dmi
  jollystation_modules/sound/voice/meow1.ogg
  jollystation_modules/sound/voice/meow2.ogg
  jollystation_modules/sound/voice/meow3.ogg
  jollystation_modules/sound/voice/shad1.ogg
  jollystation_modules/sound/voice/shad2.ogg
  jollystation_modules/sound/voice/shad_exclaim.ogg
Labels: Tweak

#9 Fixes digitigrade pants (and then some)
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species.dm
  jollystation_modules/code/datums/greyscale/json_configs/greyscale_configs.dm
  jollystation_modules/code/modules/client/loadout_manager.dm
  jollystation_modules/code/modules/client/loadout_outfit_helpers.dm
  jollystation_modules/code/modules/clothing/under/digi_under.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human_helpers.dm
  jollystation_modules/icons/mob/clothing/under/digi_under.dmi
Labels: Fix

#13 Adds in textured decals.
  jollystation.dme
  jollystation_modules/code/game/objects/effects/decals/turfdecal/textured.dm
  jollystation_modules/icons/turf/textured_decals.dmi
Labels: First Timer, Sprites

#15 Adds in the Berry Physics and NERVA Outpost space ruins.
  _maps/RandomRuins/SpaceRuins/jolly_berry.dmm
  _maps/RandomRuins/SpaceRuins/jolly_nerva.dmm
  config/spaceruinblacklist.txt
  jollystation.dme
  jollystation_modules/code/datums/ruins/space.dm
  jollystation_modules/code/game/area/space_station_13_areas.dm
Labels: Map

#18 Adds back in the ORM part upgrades.
  jollystation.dme
  jollystation_modules/code/modules/mining/mining_redemption.dm
Labels: Adjustment

#17 It's real, it's here: Pain, Pain Chems, and more
  code/game/objects/items/devices/scanners.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/organs/lungs.dm
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/__DEFINES/pain_defines.dm
  jollystation_modules/code/controllers/subsystem/pain_subsystem.dm
  jollystation_modules/code/datums/pain.dm
  jollystation_modules/code/datums/pain_helpers.dm
  jollystation_modules/code/datums/quirks/_quirk_blacklist.dm
  jollystation_modules/code/datums/quirks/good.dm
  jollystation_modules/code/datums/quirks/negative.dm
  jollystation_modules/code/datums/quirks/neutral.dm
  jollystation_modules/code/modules/admin/smites/pain_smite.dm
  jollystation_modules/code/modules/client/client_defines.dm
  jollystation_modules/code/modules/clothing/under/digi_under.dm
  jollystation_modules/code/modules/library/skill_learning/job_skillchips/mining.dm
  jollystation_modules/code/modules/mining/machine_vending.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/android.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/flypeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/mothmen.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/podpeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skeletons.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skrell.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/species.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/synths.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_bodyparts.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_causes.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_effects.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_modifiers.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_reagents.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_shock.dm
  jollystation_modules/code/modules/mob/living/emote.dm
  jollystation_modules/icons/hud/screen_full.dmi
  jollystation_modules/icons/obj/chemical.dmi
  jollystation_modules/icons/obj/syringe.dmi
Labels: Base Pilled, Feature, Sprites
