Repository MrMelbert/MapleStationCode, pull requests merged in 2022-01, with the labels that each got.

#128 Codeowners Update
  .github/CODEOWNERS
Labels: Maintenance

#129 Fixes Pubby Disposals
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Pubby Station

#132 Fix radio pref name
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/_hear_radio_sounds.tsx
Labels: Fix

#133 Fixes some glove loadout items
  jollystation_modules/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
Labels: Fix

#134 Adds a "Twisted Construction" spell variant to Clock Cult Theme
  jollystation.dme
  jollystation_modules/code/modules/antagonists/advanced_cult/clock_cult/items/replica_fabricator.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/clock_cult/magic/clock_magic.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/clock_cult/magic/clock_magic_item_conversion.dm
  jollystation_modules/icons/mob/actions/actions_clockcult.dmi
Labels: Adjustment

#136 Adds armor to basic MODsuits
  jollystation.dme
  jollystation_modules/code/modules/mod/mod_theme.dm
Labels: Tweak

#137 Fixes the roundend text for Cultists with conversion disblaed
  jollystation_modules/code/modules/antagonists/_common/advanced_objective.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/advanced_cult.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/advanced_cult_team.dm
  jollystation_modules/code/modules/antagonists/advanced_cult/blood_cult/blood_cult_theme.dm
  tgui/packages/tgui/interfaces/_AdvancedCultPanel.js
Labels: Fix

#138 Refactors digi sprites, fixes explorer outfit, adds digi sandles
  code/modules/mob/dead/new_player/preferences_setup.dm
  jollystation.dme
  jollystation_modules/code/modules/clothing/digi_clothing.dm
  jollystation_modules/code/modules/clothing/shoes/digi_shoes.dm
  jollystation_modules/code/modules/clothing/suits/digi_suits.dm
  jollystation_modules/code/modules/clothing/under/digi_under.dm
  jollystation_modules/code/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  jollystation_modules/icons/mob/clothing/shoes/digi_shoes.dmi
  jollystation_modules/icons/mob/clothing/suit/digi_suit.dmi
Labels: Adjustment, Fix, Sprites, Port

#140 Some pain tweaks and refactoring
  jollystation_modules/code/__DEFINES/pain_defines.dm
  jollystation_modules/code/datums/pain/pain.dm
  jollystation_modules/code/modules/library/skill_learning/job_skillchips/mining.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_causes.dm
  jollystation_modules/code/modules/mob/living/carbon/pain_shock.dm
Labels: Adjustment, Tweak

#141 Allows numbers in name / backup name preferences
  jollystation.dme
  jollystation_modules/code/modules/client/preferences/name_preferences.dm
Labels: Feature Request

#139 Removes the old split Space Adaptation mutations
  jollystation.dme
  jollystation_modules/code/__DEFINES/DNA.dm
  jollystation_modules/code/datums/mutations/_combined.dm
  jollystation_modules/code/datums/mutations/cold_adaptation.dm
  jollystation_modules/code/datums/mutations/hot_adaptation.dm
  jollystation_modules/code/datums/mutations/space_adapt.dm
  jollystation_modules/code/datums/mutations/vacuum_immunity.dm
  jollystation_modules/code/game/objects/items/dna_injector.dm
Labels: Maintenance
