Repository MrMelbert/MapleStationCode, pull requests merged in 2023-12, with the labels that each got.

#380 Adds in a special blade and refactors the plasma blade.
  maplestation.dme
  maplestation_modules/code/game/objects/items/weaponry.dm
  maplestation_modules/story_content/armored_corps/code/melee/void_blade.dm
  maplestation_modules/story_content/armored_corps/icons/dark_blade.dmi
  maplestation_modules/story_content/armored_corps/icons/inhands/dark_blade_lefthand.dmi
  maplestation_modules/story_content/armored_corps/icons/inhands/dark_blade_righthand.dmi
Labels: Feature

#381 Makes some loadout-only items obtainable ingame.
  maplestation.dme
  maplestation_modules/code/modules/cargo/packs.dm
  maplestation_modules/code/modules/vending/clothesmate.dm
Labels: Adjustment

#386 Adds wall mounted vitals monitors
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  maplestation.dme
  maplestation_modules/code/game/objects/structures/operating_computer.dm
  maplestation_modules/code/game/objects/structures/surgery_table.dm
  maplestation_modules/code/game/objects/structures/vital_reader.dm
  maplestation_modules/icons/obj/status_display.dmi
Labels: Feature

#385 Adds Tiziran Blood Wine but doesn't break the .dme in the process
  maplestation.dme
  maplestation_modules/code/modules/reagents/chemistry/reagents/drink_reagents.dm
  maplestation_modules/code/modules/reagents/reagent_containers/cups/glassbottle.dm
  maplestation_modules/icons/obj/bottles.dmi
  maplestation_modules/icons/obj/drinks.dmi
Labels: Feature

#390 Kilo: Chapel re-rework (Return to station) (But keep some of the Monastary)
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Kilo Station
