Repository MrMelbert/MapleStationCode, pull requests merged in 2023-11, with the labels that each got.

#364 Fixes some bad glass typepaths
  maplestation_modules/code/datums/pain/pain_implements.dm
  maplestation_modules/code/modules/cargo/packs.dm
  maplestation_modules/code/modules/reagents/chemistry/reagents/rim_reagents.dm
Labels: Fix

#363 Fixes a pain oversight causing people to emote far too often.
  maplestation_modules/code/datums/pain/pain.dm
  maplestation_modules/code/datums/pain/pain_bodyparts.dm
Labels: Fix

#362 Adds liver and lung autosurgeons to cargo
  maplestation.dme
  maplestation_modules/code/modules/cargo/packs.dm
  maplestation_modules/code/modules/surgery/organs/autosurgeon.dm
Labels: Feature

#365 Minor Illusion, Major Buff
  maplestation_modules/code/modules/magic/story_spells/illusion.dm
  maplestation_modules/icons/hud/screen_alert.dmi
Labels: Adjustment

#368 Compact defibs fit on labcoats and similar medical gear
  code/game/objects/items/defib.dm
  maplestation_modules/code/modules/clothing/suits/labcoat.dm
Labels: Adjustment, Non-Module Code

#369 Re-adds vampire bat form, disallows vampires from entering other departments without permission
  maplestation.dme
  maplestation_modules/code/__DEFINES/signals.dm
  maplestation_modules/code/game/area/space_station_13_areas.dm
  maplestation_modules/code/modules/events/solar_flare.dm
  maplestation_modules/code/modules/jobs/job_types/assistant.dm
  maplestation_modules/code/modules/jobs/job_types/captain.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Feature

#367 Reworks CPR
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/status_procs.dm
  code/modules/surgery/organs/heart.dm
  maplestation.dme
  maplestation_modules/code/__DEFINES/_module_defines.dm
  maplestation_modules/code/datums/quirks/neutral.dm
  maplestation_modules/code/game/objects/structures/crate_lockers/closets/secure/quartermaster.dm
  maplestation_modules/code/modules/library/skill_learning/job_skillchips/medbay.dm
  maplestation_modules/code/modules/library/skill_learning/job_skillchips/mining.dm
  maplestation_modules/code/modules/mob/living/carbon/human/heart_rework/cpr.dm
  maplestation_modules/code/modules/mob/living/carbon/human/heart_rework/heart_attack.dm
  maplestation_modules/code/modules/mob/living/carbon/human/heart_rework/heart_overrides.dm
Labels: Feature, Non-Module Code, Rework

#372 Makes Lima Cargo Vertical
  _maps/map_files/LimaStation/LimaStation.dmm
  maplestation_modules/code/game/area/space_station_13_areas.dm
Labels: Lima Station

#371 Adds Auto-CPR device
  code/datums/elements/attack_equip.dm
  maplestation.dme
  maplestation_modules/code/datums/pain/pain_implements.dm
  maplestation_modules/code/modules/mob/living/carbon/human/heart_rework/autopulse.dm
  maplestation_modules/icons/mob/autopulser.dmi
  maplestation_modules/icons/mob/inhands/autopulser_lhand.dmi
  maplestation_modules/icons/mob/inhands/autopulser_rhand.dmi
  maplestation_modules/icons/obj/autopulser.dmi
Labels: Feature, Non-Module Code

#373 Double Decker Lima AI satellite
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Lima Station

#374 Adds Kimonos and Yukatas
  maplestation.dme
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  maplestation_modules/story_content/kimono/code/kimonoclothing.dm
  maplestation_modules/story_content/kimono/kimono_digi.dmi
  maplestation_modules/story_content/kimono/kimono_icon.dmi
  maplestation_modules/story_content/kimono/kimono_lhand.dmi
  maplestation_modules/story_content/kimono/kimono_rhand.dmi
  maplestation_modules/story_content/kimono/kimono_worn.dmi
  maplestation_modules/story_content/noble_equipment/code/nobleclothing.dm
  maplestation_modules/story_content/noble_equipment/icons/noble_item.dmi
  maplestation_modules/story_content/noble_equipment/icons/noble_lhand.dmi
  maplestation_modules/story_content/noble_equipment/icons/noble_rhand.dmi
  maplestation_modules/story_content/noble_equipment/icons/noble_worn.dmi
Labels: Feature

#376 Some brain trauma tweaks
  code/__HELPERS/text.dm
  code/datums/brain_damage/mild.dm
Labels: Adjustment, Non-Module Code

#375 CPR tweaks
  code/modules/mob/living/carbon/human/species.dm
  maplestation_modules/code/modules/mob/living/carbon/human/heart_rework/cpr.dm
Labels: Adjustment

#377 Adds loadout slots / presets (on a per-character basis)
  code/__DEFINES/is_helpers.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  maplestation_modules/code/__DEFINES/_module_defines.dm
  maplestation_modules/code/modules/client/preferences/height.dm
  maplestation_modules/code/modules/client/preferences/loadout_preference.dm
  maplestation_modules/code/modules/loadouts/loadout_items/_loadout_datum.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  maplestation_modules/code/modules/loadouts/loadout_ui/loadout_manager.dm
  maplestation_modules/code/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  tgui/packages/tgui/interfaces/_LoadoutManager.tsx
Labels: Feature, Non-Module Code

#353 Adds sprinting (inspired from Citadel's system), makes walking default
  code/datums/elements/footstep.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  config/game_options.txt
  maplestation.dme
  maplestation_modules/code/datums/quirks/good.dm
  maplestation_modules/code/modules/mob/living/sprint.dm
  maplestation_modules/sound/sprintactivate.ogg
  maplestation_modules/sound/sprintdeactivate.ogg
Labels: Feature, Testing Required, Non-Module Code, Rework

#378 Adds Blood Volume and ""Heart Rate"" to operating consoles
  maplestation_modules/code/game/objects/structures/surgery_table.dm
  tgui/packages/tgui/interfaces/_OperatingComputer.tsx
Labels: Feature
