Repository MrMelbert/MapleStationCode, pull requests merged in 2023-10, with the labels that each got.

#351 Adds "Stowaway" job
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/controllers/subsystem/job.dm
  code/game/objects/items/mail.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  maplestation.dme
  maplestation_modules/code/controllers/subsystem/economy.dm
  maplestation_modules/code/modules/events/resource_drift.dm
  maplestation_modules/code/modules/jobs/job_types/stowaway.dm
  strings/companies.json
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Feature

#354 Kidnaps bottle sprites from upstream
  maplestation.dme
  maplestation_modules/temp_changes/bottles/bottle.dmi
  maplestation_modules/temp_changes/bottles/bottlecode.dm
Labels: Merge Conflict

#356 Being defibbed abates shock and heals some pain
  code/game/objects/items/defib.dm
Labels: Adjustment

#359 Tramstation random failure cherrypick
  _maps/shuttles/emergency_tram.dmm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/controllers/subsystem/atoms.dm
  code/datums/proximity_monitor/proximity_monitor.dm
  code/game/atoms.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/modules/industrial_lift/industrial_lift.dm
  code/modules/mining/machine_processing.dm
  code/modules/recycling/conveyor.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/focus_only_tests.dm
Labels: Maintenance

#355 Merges the fax machines
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/datums/wires/fax.dm
  code/modules/admin/admin_fax_panel.dm
  code/modules/paperwork/fax.dm
  maplestation_modules/code/controllers/subsystem/economy.dm
  maplestation_modules/code/game/machinery/fax_machine.dm
  maplestation_modules/code/game/objects/structures/crate_lockers/closets/secure/bridge_officer.dm
  maplestation_modules/code/modules/research/techweb/all_nodes.dm
  maplestation_modules/icons/obj/machines/fax.dmi
  strings/paperwork.json
  tgui/packages/tgui/interfaces/_FaxMachine.tsx
Labels: Adjustment

#360 Fixes anesthesia locker access, adds shock blankets to generic medical lockers
  maplestation.dme
  maplestation_modules/code/game/objects/structures/crate_lockers/closets/secure/medical.dm
Labels: Adjustment

#361 Allows you to attach air tanks to operating tables for eaiser application of Anesthesia (or pain) (Also converts Op Computer to TSX)
  code/game/machinery/computer/operating_computer.dm
  maplestation.dme
  maplestation_modules/code/game/objects/structures/surgery_table.dm
  maplestation_modules/icons/obj/surgery_table_overlay.dmi
  tgui/packages/tgui/interfaces/_OperatingComputer.tsx
Labels: Feature
