Repository MrMelbert/MapleStationCode, pull requests merged in 2024-01, with the labels that each got.

#393 Fix Lima's satellite's relay's depowering
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Lima Station

#397 Fix Language Picker GBJing you
  tgui/packages/tgui/interfaces/_LanguagePicker.tsx
Labels: Fix

#392 Removes typos from various maple specific things
  maplestation_modules/code/datums/mood_events/reagent_mood_events.dm
  maplestation_modules/code/game/objects/items/devices/radio/headset.dm
  maplestation_modules/story_content/armored_corps/code/mecha_weapons/laser_override.dm
  maplestation_modules/story_content/armored_corps/code/mecha_weapons/ppc_override.dm
Labels: Maintenance

#396 Silverscale statue destruction fix
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/silverscale.dm
Labels: Fix

#398 Tweaks to the vitals monitor, adds medical floor scanners
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  maplestation.dme
  maplestation_modules/code/game/objects/structures/operating_computer.dm
  maplestation_modules/code/game/objects/structures/stasis.dm
  maplestation_modules/code/game/objects/structures/vital_floor_scanner.dm
  maplestation_modules/code/game/objects/structures/vital_reader.dm
  maplestation_modules/code/modules/mob/living/carbon/human/heart_rework/autopulse.dm
  maplestation_modules/code/modules/research/techweb/all_nodes.dm
  maplestation_modules/icons/obj/floor_scan.dmi
Labels: Adjustment, Feature, Fix, Lima Station, Pubby Station, Kilo Station

#399 Kilo Gaming Den
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Kilo Station

#391 Adds in the caffeinated quirk. More sprint... If you can keep it.
  maplestation.dme
  maplestation_modules/code/__DEFINES/_module_defines.dm
  maplestation_modules/code/__DEFINES/signals.dm
  maplestation_modules/code/__DEFINES/traits.dm
  maplestation_modules/code/datums/mood_events/quirk_mood_events.dm
  maplestation_modules/code/datums/mood_events/reagent_mood_events.dm
  maplestation_modules/code/datums/quirks/neutral.dm
  maplestation_modules/code/modules/clothing/suits/loadout_suits.dm
  maplestation_modules/code/modules/clothing/under/loadout_under.dm
  maplestation_modules/code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Feature

#403 Language arg fix
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#407 Adjusts Germs
  code/datums/components/food/germ_sensitive.dm
  code/game/objects/items/food/packaged.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Adjustment, Non-Module Code

#400 Adds spinny bolas
  maplestation.dme
  maplestation_modules/code/__DEFINES/signals.dm
  maplestation_modules/code/game/objects/items/bola.dm
Labels: Feature

#410 [MDB Ignore] Fix Lima SMESs
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Lima Station
