Repository MrMelbert/MapleStationCode, pull requests merged in 2024-02, with the labels that each got.

#412 Jukebox betterment
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
  code/datums/components/jukebox.dm
  code/game/machinery/dance_machine.dm
  code/modules/mod/modules/modules_maint.dm
  html/changelogs/AutoChangeLog-pr-81176.yml
  maplestation.dme
  tgstation.dme
  tgui/packages/tgui/interfaces/Jukebox.tsx
Labels: Cherry Picked

#408 Vitals Scanner Fixes
  code/game/objects/items/devices/scanners/health_analyzer.dm
  maplestation_modules/code/game/objects/structures/vital_floor_scanner.dm
  maplestation_modules/code/game/objects/structures/vital_reader.dm
Labels: Fix, Non-Module Code

#409 Lizard Livers Let You Eat Rat (Safely)
  code/datums/components/infective.dm
  maplestation.dme
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  maplestation_modules/code/modules/surgery/organs/liver.dm
Labels: Adjustment, Non-Module Code

#414 QoL / tweaks to stackable item component
  code/modules/mob/living/carbon/human/human_update_icons.dm
  maplestation_modules/code/__DEFINES/signals.dm
  maplestation_modules/code/datums/components/stackable_item.dm
  maplestation_modules/code/modules/clothing/glasses/hud_eyepatches.dm
Labels: Adjustment, Non-Module Code

#415 Preference Menu fix up and clean up
  maplestation_modules/code/modules/client/preferences/languages.dm
  maplestation_modules/code/modules/client/preferences/multiline_preferences.dm
  maplestation_modules/code/modules/loadouts/loadout_ui/limbs.dm
  maplestation_modules/code/modules/loadouts/loadout_ui/loadout_manager.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/_LanguagePicker.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/_LimbManager.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/_LoadoutManager.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/_height.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/_multiline_text.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/_runechat_color.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/_speech_frequency.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bilingual_language.tsx
  tgui/packages/tgui/interfaces/_LanguagePicker.tsx
Labels: Fix, Maintenance

#421 Loadout fixes (The branch name is deceiving)
  code/modules/tgui/states/greyscale_menu.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_suits.dm
Labels: Fix

#423 Runechat display fix for text effects
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  strings/tips.txt
Labels: Fix

#424 Tweaks event frequency
  code/controllers/subsystem/events.dm
Labels: Adjustment

#427 Client Colo(u)r Tweaks
  code/__HELPERS/colors.dm
  code/_onclick/hud/fullscreen.dm
  code/modules/client/client_colour.dm
Labels: Cherry Picked

#425 Allows you to put hats on wigs
  maplestation.dme
  maplestation_modules/code/datums/components/stackable_item.dm
  maplestation_modules/code/modules/clothing/head/wig.dm
Labels: Feature

#429 Synth Revival Project
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_synth.png
  maplestation.dme
  maplestation_modules/code/__DEFINES/signals.dm
  maplestation_modules/code/modules/client/preferences/languages.dm
  maplestation_modules/code/modules/client/preferences/species/skrell.dm
  maplestation_modules/code/modules/client/preferences/species/synth.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/abductor.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/podpeople.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/synth/synth.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/synth/synth_ion.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/synths.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/_modular_species_features.tsx
Labels: Feature

#435 Fix LOOC tab being nonexistant
  tgui/packages/tgui-panel/chat/constants.ts
Labels: Fix

#437 Minor synth fix
  maplestation_modules/code/modules/client/preferences/species/synth.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/synth/synth.dm
Labels: Fix

#422 Good Heavens, it's the [NOBLE AMBASSADOR]!
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/datums/station_traits/positive_traits.dm
  config/jobconfig.toml
  maplestation.dme
  maplestation_modules/code/__DEFINES/jobs.dm
  maplestation_modules/code/datums/id_trim/jobs.dm
  maplestation_modules/code/game/area/space_station_13_areas.dm
  maplestation_modules/code/game/objects/effects/landmarks.dm
  maplestation_modules/code/game/objects/items/cards_ids.dm
  maplestation_modules/code/game/objects/items/devices/PDA/PDA_types.dm
  maplestation_modules/code/game/objects/items/devices/radio/encryptionkey.dm
  maplestation_modules/code/game/objects/items/devices/radio/headset.dm
  maplestation_modules/code/game/objects/items/locker_spawners.dm
  maplestation_modules/code/game/objects/items/plushes.dm
  maplestation_modules/code/game/objects/items/storage/garment.dm
  maplestation_modules/code/game/objects/structures/crate_lockers/closets/secure/noble_ambassador.dm
  maplestation_modules/code/modules/jobs/job_types/noble_ambassador.dm
  maplestation_modules/code/modules/paperwork/stamps.dm
  maplestation_modules/icons/mob/huds/hud.dmi
  maplestation_modules/icons/mob/landmarks.dmi
  maplestation_modules/icons/obj/bureaucracy.dmi
  maplestation_modules/icons/obj/card.dmi
  maplestation_modules/icons/obj/locker.dmi
  maplestation_modules/icons/obj/plushes.dmi
  maplestation_modules/icons/obj/radio.dmi
  maplestation_modules/icons/stamp_icons/large_stamp-na.png
  maplestation_modules/icons/turf/areas.dmi
  maplestation_modules/story_content/noble_equipment/code/nobleclothing.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Merge Conflict
