Repository MrMelbert/MapleStationCode, pull requests merged in 2024-09, with the labels that each got.

#581 Fix canes in pockets
  maplestation_modules/code/datums/components/limbless_aid.dm
Labels: Fix

#577 Adds an Echo Fighter for Randall
  maplestation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  maplestation_modules/icons/mob/human_face.dmi
  maplestation_modules/story_content/randall_equipment/Icons/randall_icon.dmi
  maplestation_modules/story_content/randall_equipment/Icons/randall_worn.dmi
  maplestation_modules/story_content/randall_equipment/code/randallclothing.dm
Labels: Merge Conflict

#573 Adds defenestration and bullet penetrating glass
  code/datums/components/caltrop.dm
  code/datums/components/tackle.dm
  code/game/objects/obj_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/projectile.dm
Labels: Feature

#584 Adds Limping Quirk
  code/datums/status_effects/wound_effects.dm
  maplestation_modules/code/datums/components/limbless_aid.dm
  maplestation_modules/code/datums/quirks/negative.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/limp.tsx
Labels: Feature

#587 Adds some anti-addiction chemicals, also finally adds a reagent tag for pain for sorting
  code/__DEFINES/reagents.dm
  code/modules/reagents/chemistry/holder/ui_data.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  maplestation_modules/code/datums/pain/pain_implements.dm
  maplestation_modules/code/datums/pain/pain_reagents/painkiller_reactions.dm
  maplestation_modules/code/datums/pain/pain_reagents/painkiller_related_chems.dm
  maplestation_modules/code/modules/cargo/packs.dm
  maplestation_modules/code/modules/reagents/chemistry/reagents/rim_reagents.dm
  tgui/packages/tgui/interfaces/Reagents.jsx
Labels: Feature

#589 -Chunky finger insuls, +Pepper proof sec hailers
  code/modules/clothing/gloves/insulated.dm
  code/modules/clothing/masks/hailer.dm
Labels: Adjustment
