Repository MrMelbert/MapleStationCode, pull requests merged in 2024-04, with the labels that each got.

#469 Fix canes
  code/modules/mob/living/living.dm
Labels: Fix

#463 Add Sansufentanyl prescription to Cargo, fix Psicodine prescription (after 3 years)
  maplestation_modules/code/modules/cargo/packs.dm
Labels: Feature, Fix

#466 Adds some more personal content
  maplestation.dme
  maplestation_modules/code/game/objects/items/storage/belt.dm
  maplestation_modules/code/game/objects/items/weaponry.dm
  maplestation_modules/code/modules/clothing/suits/armor.dm
  maplestation_modules/code/modules/clothing/suits/loadout_suits.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_suits.dm
  maplestation_modules/icons/mob/clothing/belt.dmi
  maplestation_modules/icons/mob/clothing/suit.dmi
  maplestation_modules/icons/mob/inhands/clothes/belts_lefthand.dmi
  maplestation_modules/icons/mob/inhands/clothes/belts_righthand.dmi
  maplestation_modules/icons/mob/inhands/weapons/swords_lefthand.dmi
  maplestation_modules/icons/mob/inhands/weapons/swords_righthand.dmi
  maplestation_modules/icons/obj/clothing/belts.dmi
  maplestation_modules/icons/obj/clothing/suit.dmi
  maplestation_modules/icons/obj/weapons.dmi
  maplestation_modules/story_content/wollys_items/code/wollysitems.dm
  maplestation_modules/story_content/wollys_items/icons/mob/clothing/belt.dmi
  maplestation_modules/story_content/wollys_items/icons/mob/clothing/suit.dmi
  maplestation_modules/story_content/wollys_items/icons/mob/inhands/clothes/belts_lefthand.dmi
  maplestation_modules/story_content/wollys_items/icons/mob/inhands/clothes/belts_righthand.dmi
  maplestation_modules/story_content/wollys_items/icons/mob/inhands/weapons/swords_lefthand.dmi
  maplestation_modules/story_content/wollys_items/icons/mob/inhands/weapons/swords_righthand.dmi
  maplestation_modules/story_content/wollys_items/icons/obj/clothing/belts.dmi
  maplestation_modules/story_content/wollys_items/icons/obj/clothing/suit.dmi
  maplestation_modules/story_content/wollys_items/icons/obj/weapons.dmi
Labels: Merge Conflict

#477 Numbness stops pain effects (and some other changes)
  code/__DEFINES/living.dm
  maplestation_modules/code/datums/pain/pain.dm
  maplestation_modules/code/datums/pain/pain_bodyparts.dm
  maplestation_modules/code/datums/pain/pain_causes/surgery_pain.dm
  maplestation_modules/code/datums/pain/pain_helpers.dm
  maplestation_modules/code/datums/pain/pain_modifiers.dm
  maplestation_modules/code/datums/pain/pain_status_effects/pain_limp.dm
  maplestation_modules/code/datums/quirks/negative.dm
  maplestation_modules/code/modules/reagents/chemistry/withdrawal/luciferium_addiction.dm
Labels: Adjustment
