Repository MrMelbert/MapleStationCode, pull requests merged in 2025-07, with the labels that each got.

#737 Holo bariers check for sneak, not walk
  code/game/objects/structures/holosign.dm
Labels: Non-Module Code

#738 Hotspot fixes
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Non-Module Code

#734 Yoinks dynamically generated digi shoes
  code/__DEFINES/inventory.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/global_lists.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/_jumpsuit_worn_digi.json
  code/datums/greyscale/json_configs/digitigrade.json
  code/datums/sprite_accessories.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/job_types/assistant/assistant.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/mob.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/screenshot_digi.dm
  code/modules/unit_tests/screenshots/screenshot_digi_leg_test.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  icons/mob/clothing/digi_template.dmi
  icons/mob/clothing/under/masking_helpers.dmi
  maplestation_modules/code/datums/greyscale/_greyscale_config.dm
  maplestation_modules/code/modules/clothing/digi_clothing.dm
  maplestation_modules/code/modules/clothing/under/digi_under.dm
  maplestation_modules/icons/mob/clothing/under/digi_gags.dmi
Labels: Sprites, Modularity Suggested, Non-Module Code

#746 Resprites the noble ambassador's ID over to new ID sprites, NA locker consistency fix.
  maplestation_modules/icons/obj/card.dmi
  maplestation_modules/icons/obj/locker.dmi
Labels: Sprites

#747 Finishes up elijah's mask
  maplestation_modules/story_content/wollys_items/code/wollysitems.dm
Labels: Story Content
