Repository MrMelbert/MapleStationCode, pull requests merged in 2025-02, with the labels that each got.

#654 Emotes are affeceted by voice pitch / frequency
  code/datums/emotes.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
Labels: Feature, Non-Module Code

#656 Moves init time display out of chat (and make it hideable since most people don't care)
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/game.dm
  code/controllers/master.dm
  code/controllers/subsystem/assets.dm
  code/controllers/subsystem/early_assets.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/radioactive_nebula.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/datums/mapgen/CaveGenerator.dm
  code/modules/client/preferences/init_stats.dm
  code/modules/mob/dead/new_player/login.dm
  maplestation.dme
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/init_stats.tsx
Labels: Cherry Picked, Non-Module Code

#661 Silverscale Aura now dims in darkness
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  maplestation_modules/code/modules/client/preferences/species/lizard.dm
  maplestation_modules/code/modules/mob/living/carbon/human/species_types/silverscale.dm
Labels: Non-Module Code

#663 Valentines Day
  _maps/RandomRuins/IceRuins/icemoon_underground_mailroom.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/polls.dm
  code/__HELPERS/pronouns.dm
  code/controllers/subsystem/polling.dm
  code/datums/candidate_poll.dm
  code/modules/antagonists/valentines/heartbreaker.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/cargo/goodies.dm
  code/modules/events/holiday/vday.dm
Labels: Map, Pubby Station, Non-Module Code

#665 This PR doesn't merge until we stop getting C&D failures
  code/datums/wounds/_wounds.dm
  code/game/objects/items/implants/implanter.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/projectile/energy/stun.dm
Labels: Non-Module Code

#640 Adds in Specialty .38 OPS Ammo
  code/modules/cargo/packs/_packs.dm
  code/modules/modular_computers/file_system/programs/dept_order.dm
  maplestation.dme
  maplestation_modules/code/modules/cargo/packs.dm
  maplestation_modules/code/modules/projectiles/ammunition/ballistic/revolver.dm
  maplestation_modules/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  maplestation_modules/code/modules/projectiles/projectile/bullets/revolver.dm
  maplestation_modules/icons/obj/storage/crates.dmi
  maplestation_modules/icons/obj/weapons/guns/ammo.dmi
  maplestation_modules/icons/obj/weapons/guns/projectiles.dmi
Labels: Sprites, Non-Module Code

#670 Cherry-picks a ton of sprites from upstream [IDB Ignore]
  code/__DEFINES/research/slimes.dm
  code/datums/greyscale/json_configs/meter.json
  code/game/objects/items/storage/medkit.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  maplestation.dme
  maplestation_modules/code/game/machinery/computer/slots.dm
  maplestation_modules/code/game/objects/items/devices/beacon.dm
  maplestation_modules/code/game/objects/items/devices/flashlight.dm
  maplestation_modules/code/game/objects/items/devices/scanners/engineering.dm
  maplestation_modules/code/game/objects/items/robot_upgrades.dm
  maplestation_modules/code/game/objects/items/storage/medkit.dm
  maplestation_modules/code/game/objects/items/trash.dm
  maplestation_modules/code/modules/atmospherics/machinery.dm
  maplestation_modules/code/modules/food_and_drinks/containers.dm
  maplestation_modules/code/modules/food_and_drinks/food/resprites.dm
  maplestation_modules/code/modules/food_and_drinks/machinery/kitchen.dm
  maplestation_modules/code/modules/mob/basic/slime.dm
  maplestation_modules/code/modules/mob/living/basic/medbots.dm
  maplestation_modules/code/modules/paperwork/clipboard.dm
  maplestation_modules/code/modules/power/cell.dm
  maplestation_modules/code/modules/research/designs/autolathe_designs.dm
  maplestation_modules/code/modules/research/machinery/experimentor.dm
  maplestation_modules/code/modules/research/xenobiology/cores.dm
  maplestation_modules/code/modules/research/xenobiology/potions.dm
  maplestation_modules/code/modules/surgery/organs/augments_arms.dm
  maplestation_modules/code/modules/surgery/organs/augments_chest.dm
  maplestation_modules/code/modules/surgery/organs/augments_eyes.dm
  maplestation_modules/code/modules/surgery/organs/augments_internal.dm
  maplestation_modules/icons/mob/inhands/medical_lefthand.dmi
  maplestation_modules/icons/mob/inhands/medical_righthand.dmi
  maplestation_modules/icons/mob/silicon/aibots.dmi
  maplestation_modules/icons/mob/silicon/robots.dmi
  maplestation_modules/icons/mob/simple/slimes.dmi
  maplestation_modules/icons/obj/bureaucracy.dmi
  maplestation_modules/icons/obj/chemical.dmi
  maplestation_modules/icons/obj/food/containers.dmi
  maplestation_modules/icons/obj/food/food.dmi
  maplestation_modules/icons/obj/food/meat.dmi
  maplestation_modules/icons/obj/food/mexican.dmi
  maplestation_modules/icons/obj/janitor.dmi
  maplestation_modules/icons/obj/lighting.dmi
  maplestation_modules/icons/obj/machines/computer.dmi
  maplestation_modules/icons/obj/machines/experimentator.dmi
  maplestation_modules/icons/obj/machines/kitchen.dmi
  maplestation_modules/icons/obj/machines/meter.dmi
  maplestation_modules/icons/obj/organs.dmi
  maplestation_modules/icons/obj/robot_items.dmi
  maplestation_modules/icons/obj/scanner.dmi
  maplestation_modules/icons/obj/service/kitchen.dmi
  maplestation_modules/icons/obj/storage/crates.dmi
  maplestation_modules/icons/obj/storage/medkit.dmi
  maplestation_modules/icons/obj/tracker.dmi
  maplestation_modules/strings/slots.txt
Labels: Sprites, Non-Module Code

#667 Captain's Beret is brought up to the modern captain's palette colors, captain's clothes get a protection lookover.
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wintercoats.dm
Labels: Non-Module Code

#666 Ports over the tgstation changes to thermal pistols and cranked weapons.
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crank_recharge.dm
  code/game/objects/items/storage/holsters.dm
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
  sound/items/weapons/laser_crank.ogg
Labels: Non-Module Code

#671 (shuttle/bed) Buckle sounds and (shuttle) Buckle sprites
  code/__DEFINES/sound.dm
  code/game/objects/buckling.dm
  code/game/objects/objs.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/sound.dm
  maplestation_modules/icons/obj/chairs.dmi
  sound/machines/buckle/attribution.txt
  sound/machines/buckle/buckle1.ogg
  sound/machines/buckle/buckle2.ogg
  sound/machines/buckle/buckle3.ogg
  sound/machines/buckle/unbuckle1.ogg
  sound/machines/buckle/unbuckle2.ogg
  sound/machines/buckle/unbuckle3.ogg
Labels: Sprites, Non-Module Code

#643 Sorts story items + Adds a compile flag to them
  code/_compile_options.dm
  maplestation.dme
  maplestation_modules/code/modules/clothing/equipment_sets/bartender_equipment/code/barmanvintage.dm
  maplestation_modules/code/modules/clothing/equipment_sets/bartender_equipment/icons/barmanvintage_icon.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/bartender_equipment/icons/barmanvintage_worn.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/captain_equipment/captain_icon.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/captain_equipment/captain_lhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/captain_equipment/captain_rhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/captain_equipment/captain_worn.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/captain_equipment/code/captainclothing.dm
  maplestation_modules/code/modules/clothing/equipment_sets/casual_clothing/Icons/casual_icon.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/casual_clothing/Icons/casual_lhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/casual_clothing/Icons/casual_rhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/casual_clothing/Icons/casual_worn.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/casual_clothing/code/casualclothing.dm
  maplestation_modules/code/modules/clothing/equipment_sets/chaplain_equipment/code/chaplainclothing.dm
  maplestation_modules/code/modules/clothing/equipment_sets/chaplain_equipment/icons/cleric_icons.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/chaplain_equipment/icons/cleric_lhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/chaplain_equipment/icons/cleric_rhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/chaplain_equipment/icons/cleric_worn.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/kimono/code/kimonoclothing.dm
  maplestation_modules/code/modules/clothing/equipment_sets/kimono/kimono_digi.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/kimono/kimono_icon.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/kimono/kimono_lhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/kimono/kimono_rhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/kimono/kimono_worn.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/noble_equipment/code/beacon.dm
  maplestation_modules/code/modules/clothing/equipment_sets/noble_equipment/code/nobleclothing.dm
  maplestation_modules/code/modules/clothing/equipment_sets/noble_equipment/icons/noble_item.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/noble_equipment/icons/noble_lhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/noble_equipment/icons/noble_rhand.dmi
  maplestation_modules/code/modules/clothing/equipment_sets/noble_equipment/icons/noble_worn.dmi
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_neck.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_suits.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  maplestation_modules/code/modules/vending/clothesmate.dm
  maplestation_modules/story_content/albert_equipment/code/albertclothing.dm
  maplestation_modules/story_content/albert_equipment/code/albertitem.dm
  maplestation_modules/story_content/bell_equipment/code/bellclothing.dm
  maplestation_modules/story_content/casual_clothing/code/casualclothing.dm
  maplestation_modules/story_content/chaplain_equipment/code/chaplainclothing.dm
  maplestation_modules/story_content/grey_equipment/code/greyclothing.dm
  maplestation_modules/story_content/jessie_equipment/code/jessie_clothing.dm
  maplestation_modules/story_content/kimono/code/kimonoclothing.dm
  maplestation_modules/story_content/lini_equipment/code/liniclothing.dm
  maplestation_modules/story_content/noble_equipment/code/nobleclothing.dm
  maplestation_modules/story_content/noname_equipment/code/nonameclothing.dm
  maplestation_modules/story_content/nurse_equipment/code/vinceclothing.dm
  maplestation_modules/story_content/randall_equipment/code/randallclothing.dm
  maplestation_modules/story_content/reshia_equipment/code/reshiaclothing.dm
  maplestation_modules/story_content/ritz_equipment/code/ritzclothing.dm
  maplestation_modules/story_content/volkan_equipment/code/volkanitems.dm
  tools/ticked_file_enforcement/ticked_file_enforcement.py
Labels: Adjustment, Story Content, Maintenance, Non-Module Code
