Repository MrMelbert/MapleStationCode, pull requests merged in 2025-03, with the labels that each got.

#677 Ports the "busy" do_after() cogs from tg
  code/__HELPERS/mobs.dm
  code/datums/cogbar.dm
  code/datums/components/basic_mob_attack_telegraph.dm
  code/game/machinery/fat_sucker.dm
  code/game/objects/items/syndie_spraycan.dm
  code/game/objects/structures/syndicate_uplink_beacon.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mirror_walk.dm
  code/modules/antagonists/ninja/ninjaDrainAct.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/antagonists/traitor/objectives/infect.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/traitor/objectives/sabotage_machinery.dm
  code/modules/antagonists/traitor/objectives/steal.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/chameleon/chameleon_scanner.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_gaze.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  icons/effects/progressbar.dmi
  maplestation.dme
  tgstation.dme
Labels: Modularity Suggested, Cherry Picked, Non-Module Code

#633 Adds a natural source of volite: Volicious Lignite
  maplestation_modules/code/modules/cargo/goodies.dm
  maplestation_modules/code/modules/cargo/packs.dm
  maplestation_modules/code/modules/magic/mana/mana_chemicals.dm
  maplestation_modules/code/modules/magic/mana/sources/mana_batteries.dm
  maplestation_modules/icons/obj/magic/crystals.dmi
Labels: Sprites

#687 Buckle fix
  code/modules/mob/living/carbon/carbon.dm
Labels: Non-Module Code

#694 Fix stealth runtimes
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_departments.dm
Labels: Non-Module Code

#675 Title and Honorific follow up
  code/datums/id_trim/jobs.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  maplestation_modules/code/datums/id_trim/jobs.dm
  maplestation_modules/code/modules/jobs/job_types/bridge_officer.dm
  maplestation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Non-Module Code

#664 Sound fixening
  code/__DEFINES/sound.dm
  code/game/sound.dm
  maplestation_modules/code/modules/mob/living/speech_and_radio_sounds.dm
Labels: Non-Module Code

#684 Adds Vote For Round Chaos
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  maplestation.dme
  maplestation_modules/code/datums/votes/chaos.dm
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Non-Module Code
