Repository MrMelbert/MapleStationCode, pull requests merged in 2025-04, with the labels that each got.

#700 Defib fix
  code/game/objects/items/defib.dm
Labels: Non-Module Code

#692 If you are bleeding extensively, you will leave a trail when standing (walking), rather than only when floored (crawling)
  code/datums/components/infective.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  maplestation_modules/code/modules/mob/living/blood.dm
Labels: Non-Module Code

#695 Being attacked temporarily disables headset use, Radio deathgasping returns
  code/__DEFINES/living.dm
  code/__DEFINES/say.dm
  code/__DEFINES/status_effects.dm
  code/_onclick/item_attack.dm
  code/datums/saymode.dm
  code/datums/status_effects/debuffs/block_radio.dm
  code/datums/status_effects/debuffs/grabbed.dm
  code/game/objects/items/melee/baton.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_say.dm
  code/modules/projectiles/projectile/energy/stun.dm
  maplestation.dme
  tgstation.dme
Labels: Cherry Picked, Non-Module Code

#706 post-516 Linter fix and such
  code/game/atom/atom_examine.dm
  code/game/machinery/camera/camera.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/shuttle/computer.dm
  maplestation_modules/code/__DEFINES/paperwork_defines.dm
  maplestation_modules/code/modules/antagonists/_common/antag_datum.dm
  tgui/packages/tgui-setup/helpers.js
  tgui/packages/tgui/interfaces/NtosMain.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/_OperatingComputer.tsx
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
Labels: Non-Module Code

#701 Resprites Hivebots
  maplestation.dme
  maplestation_modules/code/modules/mob/living/basic/space_fauna/hivebot/_hivebot.dm
  maplestation_modules/icons/mob/simple/hivebot.dmi
Labels: Sprites

#707 TGS DMAPI bump I guess
  code/__DEFINES/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Non-Module Code

#710 adds a loser
  maplestation.dme
  maplestation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  maplestation_modules/icons/mob/human_face.dmi
  maplestation_modules/story_content/isaac_equipment/code/isaacclothing.dm
  maplestation_modules/story_content/isaac_equipment/icons/isaacclothing_item.dmi
  maplestation_modules/story_content/isaac_equipment/icons/isaacclothing_worn.dmi
Labels: Story Content, Sprites

#708 Assuage crashing
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/datums/browser.dm
  tgui/packages/tgui/interfaces/DnaConsole/index.jsx
  tgui/packages/tgui/interfaces/ExperimentConfigure.jsx
  tgui/packages/tgui/interfaces/Mule.tsx
  tgui/packages/tgui/interfaces/Radio.jsx
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
  tgui/packages/tgui/interfaces/Techweb/Overview.tsx
  tgui/packages/tgui/interfaces/Techweb/disks/disks.tsx
  tgui/packages/tgui/interfaces/Techweb/nodes/detail.tsx
Labels: Non-Module Code

#711 #709 with resolved conflits
  maplestation.dme
  maplestation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  maplestation_modules/icons/mob/human_face.dmi
  maplestation_modules/story_content/alraune_miscitems/code/alrmiscitem.dm
  maplestation_modules/story_content/alraune_miscitems/icons/alrmiscitem_item.dmi
  maplestation_modules/story_content/alraune_miscitems/icons/alrmiscitem_worn.dmi
Labels: Story Content, Sprites
