Repository MrMelbert/MapleStationCode, pull requests merged in 2025-01, with the labels that each got.

#639 Adds Minorly Mutation quirk
  code/datums/records/manifest.dm
  maplestation_modules/code/datums/quirks/neutral.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/mutation.tsx
Labels: Feature

#641 Adds chaplain's revolver to Nullrod selection
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/religion/burdened/psyker.dm
Labels: Feature

#646 Fix Silverscale statue on Multi z maps
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: Fix

#647 Readds language radio keys to cargo + framework for arbitrary mutual (partial) language understanding
  code/game/atoms_movable.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/order.dm
  code/modules/language/_language_holder.dm
  code/modules/shuttle/supply.dm
  maplestation_modules/code/modules/client/preferences/languages.dm
Labels: Feature

#644 Support for holiday loadout items (and also custom lipstick colors I guess)
  code/__DEFINES/preferences.dm
  code/datums/components/trader/trader.dm
  code/game/objects/items/cosmetics.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/masks/costume.dm
  code/modules/clothing/suits/moth.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirt_dress.dm
  maplestation_modules/code/modules/client/preferences/loadout_preference.dm
  maplestation_modules/code/modules/clothing/suits/armor.dm
  maplestation_modules/code/modules/clothing/under/loadout_under.dm
  maplestation_modules/code/modules/loadouts/loadout_items/_loadout_datum.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_heads.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  maplestation_modules/code/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
Labels: Adjustment

#651 Fix Master
  code/game/objects/items/cigs_lighters.dm
Labels: Non-Module Code

#648 Adds more of my own character content, plus two bits of generic content
  maplestation_modules/code/modules/clothing/under/loadout_under.dm
  maplestation_modules/code/modules/loadouts/loadout_items/loadout_datum_under.dm
  maplestation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  maplestation_modules/code/modules/surgery/organs/tails.dm
  maplestation_modules/code/modules/vending/clothesmate.dm
  maplestation_modules/icons/mob/clothing/under/jumpsuit.dmi
  maplestation_modules/icons/mob/human_face.dmi
  maplestation_modules/icons/mob/mutant_bodyparts.dmi
  maplestation_modules/icons/obj/clothing/under/jumpsuit.dmi
  maplestation_modules/icons/obj/surgery.dmi
  maplestation_modules/story_content/wollys_items/code/wollysitems.dm
  maplestation_modules/story_content/wollys_items/icons/mob/clothing/jumpsuit.dmi
  maplestation_modules/story_content/wollys_items/icons/mob/clothing/mask.dmi
  maplestation_modules/story_content/wollys_items/icons/obj/clothing/jumpsuit.dmi
  maplestation_modules/story_content/wollys_items/icons/obj/clothing/mask.dmi
Labels: Story Content, Sprites

#653 Adds 2 new posters to the game
  maplestation.dme
  maplestation_modules/code/game/objects/effects/posters.dm
  maplestation_modules/icons/obj/posters.dmi
Labels: Sprites
