Repository MrMelbert/MapleStationCode, pull requests merged in 2025-09, with the labels that each got.

#771 Fix wrong height being available all this time
  code/game/objects/items/devices/flashlight.dm
  maplestation_modules/code/datums/pain/pain_status_effects/anesthetic.dm
  maplestation_modules/code/game/objects/structures/surgery_table.dm
  maplestation_modules/code/modules/client/preferences/height.dm
Labels: Non-Module Code

#766 Infinite bot path hud fix
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/modules/error_handler/error_handler.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
Labels: Non-Module Code

#770 Added new AI holograms
  code/modules/mob/living/silicon/ai/_preferences.dm
  code/modules/mob/living/silicon/ai/ai.dm
  maplestation_modules/story_content/volkan_equipment/icons/ai_holograms.dmi
Labels: Story Content, Non-Module Code

#752 Makes the Fox and Five Fox tail organs work properly (and adds them to limb grower)
  code/modules/research/designs/limbgrower_designs.dm
  maplestation_modules/code/modules/surgery/organs/tails.dm
Labels: Non-Module Code

#776 Ports the ported cat ears on tg to here
  code/datums/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/surgery/organs/internal/ears/_ears.dm
  icons/mob/human/cat_features.dmi
Labels: Modularity Suggested, Non-Module Code

#779 Adds non-sunglasses sechud varients to sec lockers
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Non-Module Code

#789 adds the very recently added TGstation drinks
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/diseases/advance/symptoms/headache.dm
  code/datums/status_effects/neutral.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_non-alcoholic.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_drinks.dm
  icons/obj/drinks/mixed_drinks.dmi
Labels: Modularity Suggested, Non-Module Code

#794 Fix bot access, fix examine more
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/mob.dm
Labels: Non-Module Code

#781 Cleanbots clean cigarette butts
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
Labels: Non-Module Code
